
.htmx-added {
      opacity: 0;
}

.fade-me-out.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fade-in-image {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}


.disabled-button {
    pointer-events: none;
    opacity: 0.5;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
